body{
    font-family: fantasy;
}

img{
    opacity: 0;
    width: 100px;
    height: 100px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 30px;
    width: fit-content;
}

.gambar{
    display: flex;
    flex-direction: column;
}

.grid_1, .grid_2, .grid_3{
    border: solid 0.5px black;
    display: flex;;
    flex-direction: row;
}